/* Header */

body{
  background: #001B33;
}

.nav-header{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: #FD9C00;
}

.nav-header h1 {
  float: left;
  font-size: 150%;
}

.nav-header form{
  float: right;
  display: block;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
}

.Website_Container{
  width: 100%;
  margin-top: 50px;
  color: #0060B4;
}

.Website_Container h3{
  color: white;
  text-align: center;
}

.Website_Container p{
  text-align: left;  
}

.Website_Container img{
  position: relative;
}
